%html
  %head
    %title= [@title, "Dreamforce '11 Demo Blog"].compact.join(" | ")
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'application'
    = yield_content :include
  %body
    #header
      .fill
        .container
          %h1
            %a{ :href => "/" } Dreamforce '11 Demo Blog
          %ul.menu
            %li{ :class => @posts || @post ? "active" : nil }= link_to 'Blog', url_for(:posts, :index)
            %li{ :class => @about ? "active" : nil }= link_to 'About', url_for(:about)
    .container
      .row
        #main
          = yield
